/.idea/
/Web/*.vault
/Web/run.json
/Web/node_modules/
/Web/vendor/bin
/Web/vendor/composer
/Web/vendor/myclabs
/Web/vendor/nikic
/Web/vendor/phar-io
/Web/vendor/phpunit
/Web/vendor/sebastian
/Web/vendor/theseer
/Web/.idea/
/Client/.idea/
/Client/node_modules/
/Client/dist/
/Client/*.cache