<!DOCTYPE html>
<html lang="en" xmlns:x-on="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vault</title>

        <link rel="stylesheet" type="text/css" href="../assets/css/vault.css">
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
                integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        ></script>
        <meta charset="UTF-8">
    </head>
    <body class="flex w-screen h-screen">
        <nav class="flex flex-col bg-blue-700 p-0">
            <i class="fa-solid fa-house btn-sidebar" title="Dashboard"></i>
            <i class="fa-solid fa-cog btn-sidebar" title="Settings" onclick="document.getElementById('settings').classList.remove('hidden')"></i>
            <span class="flex-grow"></span>
            <i class="fa-solid fa-lock btn-sidebar" title="Secured with AEAD Encryption"></i>
            <i class="fa-solid fa-circle-xmark btn-sidebar" title="Close Vault" onclick="shutdown()"></i>
        </nav>
        <div class="flex-grow">
            <header>
                <h1>Dashboard</h1>
            </header>

            <main>
                <div class="alert-red mb-6 hidden" id="error"></div>
                <div class="alert-red mb-6 hidden" id="cache">Vault is offline and using local cache. <button class="btn-red" onclick="goOnline()">Go online</button></div>
                <div class="alert-green mb-6 hidden" id="success"></div>
                <div class="grid-std" x-data="{
                            open:false,
                            newItem: false,
                            pid: '',
                            pass: '',
                            user: '',
                            name: '',
                            url: '',
                            notes: '',
                            strength: ''
                        }">
                    <div class="grid" id="passwordGrid">
                    </div>
                    <div class="border p-2" x-show="open">
                        <h2 class="text-center" x-show="!newItem" x-text="name"></h2>
                        <h2 class="text-center" x-show="newItem">Add a new password</h2>
                        <div class="grid-std">
                            <div class="hidden" aria-hidden="true">
                                <label for="pid" class="h3 text-center w-full" aria-hidden="true">PID</label><br>
                                <input type="text" id="pid" name="pid" x-model="pid" class="w-full" aria-hidden="true">
                            </div>
                            <div>
                                <label for="user" class="h3 text-center w-full">Username</label><br>
                                <input type="text" id="user" name="user" x-model="user" class="w-full">
                            </div>
                            <div>
                                <label for="pass" class="h3 text-center w-full">Password</label><br>
                                <input type="text" id="pass" name="pass" x-model="pass" class="w-full">
                            </div>
                            <div>
                                <label for="name" class="h3 text-center w-full">Website name</label><br>
                                <input type="text" id="name" name="name" x-model="name" class="w-full">
                            </div>
                            <div>
                                <label for="url" class="h3 text-center w-full">URL</label><br>
                                <input type="text" id="url" name="url" x-model="url" class="w-full">
                            </div>
                            <div class="col-span-2">
                                <label for="notes" class="h3 text-center w-full">Notes</label><br>
                                <textarea type="text" id="notes" name="notes" x-text="notes" class="w-full"></textarea>
                            </div>
                            <div>
                                <p class="h3 w-full">Password Strength: <span x-text="strength"></span>/10</p>
                            </div>
                            <div class="col-span-2 flex space-x-2">
                                <button type="button" class="inline btn-primary" x-on:click="
                                            open=false;
                                            newItem=false;
                                            pass='';
                                            user='';
                                            name='';
                                            url='';
                                            notes='';
                                            strength='';
                                        ">Close</button>
                                <button
                                        type="submit"
                                        x-show="newItem"
                                        class="btn-green flex-grow"
                                        name="type"
                                        value="create"
                                >
                                    Add to Vault
                                </button>
                                <button
                                        type="submit"
                                        x-show="!newItem"
                                        class="btn-green flex-grow"
                                        name="type"
                                        value="update"
                                        :id="pid"
                                >
                                    Save changes
                                </button>
                                <button
                                        type="submit"
                                        x-show="!newItem"
                                        class="btn-red"
                                        name="type"
                                        value="delete"
                                        :id="pid"
                                >
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settings" class="hidden absolute top-0 left-0 right-0 bottom-0 bg-black/50">
                    <div class="absolute top-10 left-10 right-10 bottom-10 bg-white">
                        <header>
                            <p>Settings</p>
                        </header>

                        <div class="p-2">
                            Software Settings<br>
                            <div class="grid-std">
                                <label for="vault.sync_server_url">Sync Server URL</label>
                                <input id="vault.sync_server_url">

                                <label for="vault.allow_offline_mode">Allow Offline Mode</label>
                                <select id="vault.allow_offline_mode">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>

                                <label for="vault.force_offline_mode">Force Offline Mode</label>
                                <select id="vault.force_offline_mode">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>

                            <br>

                            App Settings<br>
                            <div class="grid-std">
                                <label for="app.window_width">Window Width</label>
                                <input id="app.window_width">

                                <label for="app.window_height">Window Height</label>
                                <input id="app.window_height">

                                <label for="app.cache_encryption_method">Cache Encryption Method</label>
                                <select id="app.cache_encryption_method">
                                    <option value="AES-256-GCM">AES-256-GCM (Recommended)</option>
                                    <option value="AES-192-GCM">AES-192-GCM</option>
                                    <option value="AES-128-GCM">AES-128-GCM</option>
                                </select>
                            </div>
                            <br>
                            <button onclick="updateSettings();" class="btn-green">Save</button>
                            <br>
                            <p>Changing settings will clear your offline cache and require Vault to restart.</p>
                        </div>
                    </div>
                </div>
                <div id="syncmismatch" class="hidden absolute top-0 left-0 right-0 bottom-0 bg-black/50">
                    <div class="absolute top-10 left-10 right-10 bottom-10 bg-white">
                        <header>
                            <p>Sync Mismatch</p>
                        </header>

                        <div class="p-2">
                            Vault has identified that changes have been made to the sync server since you were last online.
                            <br><br>
                            <div class="grid-std">
                                <p>Last local change: <span id="lastLocalChange"></span></p>
                                <button onclick="keepLocal()" class="btn-primary">Keep local changes</button>
                                <p>Last remote change: <span id="lastRemoteChange"></span></p>
                                <button onclick="keepRemote()" class="btn-primary">Keep remote changes</button>
                            </div>
                            <br>
                            The changes you decide to keep will also be pushed to the sync server.
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="../assets/js/electron.js"></script>
        <script src="../assets/js/lib/alpine.js" defer></script>
        <script src="../assets/js/cache.js"></script>
        <script src="../assets/js/api.js"></script>
        <script src="../assets/js/dashboard.js"></script>
        <script src="../assets/js/status.js"></script>
        <script src="../assets/js/strength.js"></script>
        <script src="../assets/js/vault.js"></script>
        <script src="../assets/js/sync.js"></script>
        <script>
            checkStatus();

            if (localStorage.getItem('using-cache') === 'true') {
                document.getElementById('cache').classList.remove('hidden');
            }
        </script>
    </body>
</html>
