<!DOCTYPE html>
<html lang="en" xmlns:x-on="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vault</title>

        <link rel="stylesheet" type="text/css" href="../../assets/css/vault.css">
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
                integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        ></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Dashboard</h1>
        </header>

        <main>
            <div class="alert-red mb-6 hidden" id="error"></div>
            <div class="alert-green mb-6 hidden" id="success"></div>
            <div class="grid-std" x-data="{
                        open:false,
                        newItem: false,
                        pid: '',
                        pass: '',
                        user: '',
                        name: '',
                        url: '',
                        notes: '',
                        strength: ''
                    }">
                <div class="grid" id="passwordGrid">
                </div>
                <div class="border p-2" x-show="open">
                    <h2 class="text-center" x-show="!newItem" x-text="name"></h2>
                    <h2 class="text-center" x-show="newItem">Add a new password</h2>
                    <div class="grid-std">
                        <div class="hidden" aria-hidden="true">
                            <label for="pid" class="h3 text-center w-full" aria-hidden="true">PID</label><br>
                            <input type="text" id="pid" name="pid" x-model="pid" class="w-full" aria-hidden="true">
                        </div>
                        <div>
                            <label for="user" class="h3 text-center w-full">Username</label><br>
                            <input type="text" id="user" name="user" x-model="user" class="w-full">
                        </div>
                        <div>
                            <label for="pass" class="h3 text-center w-full">Password</label><br>
                            <input type="text" id="pass" name="pass" x-model="pass" class="w-full">
                        </div>
                        <div>
                            <label for="name" class="h3 text-center w-full">Website name</label><br>
                            <input type="text" id="name" name="name" x-model="name" class="w-full">
                        </div>
                        <div>
                            <label for="url" class="h3 text-center w-full">URL</label><br>
                            <input type="text" id="url" name="url" x-model="url" class="w-full">
                        </div>
                        <div class="col-span-2">
                            <label for="notes" class="h3 text-center w-full">Notes</label><br>
                            <textarea type="text" id="notes" name="notes" x-text="notes" class="w-full"></textarea>
                        </div>
                        <div>
                            <p class="h3 w-full">Password Strength: <span x-text="strength"></span>/10</p>
                        </div>
                        <div class="col-span-2 flex space-x-2">
                            <button type="button" class="inline btn-primary" x-on:click="
                                        open=false;
                                        newItem=false;
                                        pass='';
                                        user='';
                                        name='';
                                        url='';
                                        notes='';
                                        strength='';
                                    ">Close</button>
                            <button
                                    type="submit"
                                    x-show="newItem"
                                    class="btn-green flex-grow"
                                    name="type"
                                    value="create"
                            >
                                Add to Vault
                            </button>
                            <button
                                    type="submit"
                                    x-show="!newItem"
                                    class="btn-green flex-grow"
                                    name="type"
                                    value="update"
                                    :id="pid"
                            >
                                Save changes
                            </button>
                            <button
                                    type="submit"
                                    x-show="!newItem"
                                    class="btn-red"
                                    name="type"
                                    value="delete"
                                    :id="pid"
                            >
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../../settings.js" defer></script>
        <script src="../../assets/js/lib/alpine.js" defer></script>
        <script src="../../assets/js/api.js" defer></script>
        <script src="../../assets/js/dashboard.js" defer></script>
    </body>
</html>
